<!DOCTYPE html>
<html>
<head>
<title>IndoreAI</title>
<link rel="icon" href="images/favicon.png" sizes="32x32" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

</script>

<body data-spy="scroll" data-target=".navbar" data-offset="0">
<div class="line-group-container for-web">
  <div class="lines-group  lines-group1">
      <div>
        <div class="line line-one" data-height="4" data-width="450" data-color="#008DFF" data-duration="1500" data-delay="0" data-direction="right" data-start="0" data-top="0" data-mov="170"><div></div></div>
        <div class="line line-two" data-height="2" data-width="150" data-color="#FFFFFF" data-duration="1500" data-delay="300" data-direction="right"  data-start="50" data-top="100" data-mov="250"><div></div></div>
        <div class="line line-three" data-height="4" data-width="445" data-color="#008DFF" data-duration="1500" data-delay="500" data-direction="right"  data-start="-20" data-top="37" data-mov="100"><div></div></div>
        <div class="line line-four" data-height="2" data-width="150" data-color="#ffffff" data-duration="800" data-delay="900" data-direction="right"  data-start="0" data-top="70" data-mov="120"><div></div></div>
        <div class="line line-five" data-height="4" data-width="440" data-color="#008DFF" data-duration="1500" data-delay="1100" data-direction="right"  data-start="-45" data-top="90" data-mov="160"><div></div></div>
      </div>
  </div>

  <div class="lines-group lines-group2">
      <div>
        <div class="line line-one" data-height="4" data-width="450" data-color="#008DFF" data-duration="1500" data-delay="0" data-direction="right" data-start="0" data-top="0" data-mov="170"><div></div></div>
        <div class="line line-two" data-height="2" data-width="150" data-color="#FFFFFF" data-duration="1500" data-delay="300" data-direction="right"  data-start="50" data-top="100" data-mov="250"><div></div></div>
        <div class="line line-three" data-height="4" data-width="445" data-color="#008DFF" data-duration="1500" data-delay="500" data-direction="right"  data-start="-20" data-top="37" data-mov="100"><div></div></div>
        <div class="line line-four" data-height="2" data-width="150" data-color="#ffffff" data-duration="800" data-delay="900" data-direction="right"  data-start="0" data-top="70" data-mov="120"><div></div></div>
      </div>
  </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="images/IndoreAi_logo.png" class="logo">
    <img src="images/IndoreAi_logo_dark.png" class="logo-dark">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">Who we are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#services">What We Do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#career">Career</a>
      </li>

      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">Contact us</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<section id="home">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="home-hero">
          <div class="banner-design">
              <span class="line-one">Indore<span>AI</span></span>
              <span class="line-two">make your software</span>
              <span class="line-three">INTELLIGENT</span>
          </div>

          </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="about-box-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>Who We Are</h2>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="who-we-are">
           <p>IndoreAI brings a relevant combination of technological and business insight to the work.</p>
           <p>We understand the challenges that small businesses face and help them by applying Best Practices of software development.</p> 
           <p> We helped them to break into a new sector using cutting-edge technologies and bring significant experience in a way that adds value.
                  
          </div>
        </div>
        <div class="col-lg-6 who-we-are-img"><img src="images/who-we-are.jpg" alt="who-we-are"></div>
      </div>
      
      <div class="row">
          <div class="col-lg-6">
              <div class="mision-vision-box">
              <h3>VISION</h3>
              <p>
                Enable small businesses and organizations to solve real-world problems using Artificial intelligence (AI) and Machine learning (ML) and create practical business values.
              </p>
              </div>
              </div>
              <div class="col-lg-6">
              <div class="mision-vision-box">
                <h3>MISSION</h3>
                <p>Bridge the gap among business, research, and customers using Artificial intelligence (AI) and Machine learning (ML) tools. provide cutting-edge solutions to small businesses and industries.
                </p>
              </div>
          </div>
      </div>
    </div>
  <div>
</section>
<section id="services" >
 <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading">
              <h2>What We Do</h2>
            </div>
          </div>
        </div>
        <div class="row services-webview">
            <div class="col-lg-12">
                <div class="tab-container-bg">
                    <div class="tab-left">
                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" data-toggle="pill" href="#v-pills-machinelearning" role="tab" aria-selected="true">AI/Machine Learning</a>
                        <a class="nav-link" data-toggle="pill" href="#v-pills-mobiledevelopment" role="tab" aria-selected="false">Mobile Development</a>
                        <a class="nav-link" data-toggle="pill" href="#v-pills-webdevelopment" role="tab" aria-selected="false">Web Development</a>
                        <a class="nav-link" data-toggle="pill" href="#v-pills-UIUX" role="tab" aria-selected="false">UI/UX Design</a>
                      </div>
                    </div>

                    <div class="tab-right">
                      <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-machinelearning" role="tabpanel">
                        <div class="tab-container">
                            <p>Artificial Intelligence is soon going to be a part of every application. A concept to the future, is in the future anymore. It is here already, and we are playing with it to learn and evolve with it. From Machine Learning to Immersive experiences, we are building apps that are disrupting the technology industry</p>
                            <h4>Areas of expertise</h4>
                            <ul>
                              <li>Machine Learning</li>
                              <li>Data Science</li>
                              <li>Cloud Computing</li>
                            </ul>
                        </div>
                      </div>
                      
                        <div class="tab-pane fade" id="v-pills-mobiledevelopment" role="tabpanel">
                          <div class="tab-container">
                            <p>Mobile Applications Going ‘mobile’ is a no-brainer in this day and age, but it’s important you go mobile for the right reasons. We use both native and cross-platform solutions to create apps that function on both iOS and Android.</p>
                            <h4>Areas of expertise</h4>
                            <ul>
                              <li>iOS (Swift and Objective-C)</li>
                              <li>Android (Java and Kotlin)</li>
                              <li>React Native</li>
                              <li>Flutter</li>
                            </ul>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-webdevelopment" role="tabpanel">
                          <div class="tab-container">
                            <p>Our process includes engineers at every stage, employing a holistic approach to web app development. This ensures a reliable and intuitive web app for your business to build upon.</p>
                            <h4>Areas of expertise</h4>
                            <div class="left-list">
                              <h5>BACK-END</h5>
                              <ul>
                                <li>Node.js</li>
                                <li>Ruby on Rails</li>
                                <li>Java</li>
                                <li>Python</li>
                                <li>Amazon</li>
                              </ul>
                            </div>
                            
                            <div class="left-list">
                              <h5>FRONT-END</h5>
                              <ul>
                                <li>Angular</li>
                                <li>React</li>
                                <li>Vue.js</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      
                        
                        <div class="tab-pane fade" id="v-pills-UIUX" role="tabpanel">
                          <div class="tab-container">
                            <p>If you’re a believer that users relate to products that don’t make them think too much, then we’re a great match for you. We develop software based on your users ‘why’, rather than intuition.</p>
                            <h4>UX/UI DESIGN SERVICES</h4>
                            <ul>
                              <li>User research</li>
                              <li>UX prototyping</li>
                              <li>UX design</li>
                              <li>UI (visual) design</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

        </div>
        </div>

        <div class="row services-mobview">
            <div class="col-lg-12">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        AI/Machine Learning
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="tab-container">
                        <p>Artificial Intelligence is soon going to be a part of every application. A concept to the future, is in the future anymore. It is here already, and we are playing with it to learn and evolve with it. From Machine Learning to Immersive experiences, we are building apps that are disrupting the technology industry</p>
                        <h4>Areas of expertise</h4>
                        <ul>
                          <li>Machine Learning</li>
                          <li>Data Science</li>
                          <li>Cloud Computing</li>
                        </ul>
                    </div>
                    </div>
                  </div>
                </div>
               
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Mobile Development
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="tab-container">
                        <p>Going ‘mobile’ is a no-brainer in this day and age, but it’s important you go mobile for the right reasons. We use both native and cross-platform solutions to create apps that function on both iOS and Android.</p>
                        <h4>Areas of expertise</h4>
                        <ul>
                          <li>iOS (Swift and Objective-C)</li>
                          <li>Android (Java and Kotlin)</li>
                          <li>React Native</li>
                          <li>Flutter</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingfour">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                        Web Development
                      </button>
                    </h2>
                  </div>
                  <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="tab-container">
                        <p>Our process includes engineers at every stage, employing a holistic approach to web app development. This ensures a reliable and intuitive web app for your business to build upon.</p>
                        <h4>Areas of expertise</h4>
                        <div class="left-list">
                          <h5>BACK-END</h5>
                          <ul>
                            <li>Node.js</li>
                            <li>Ruby on Rails</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>Amazon</li>
                          </ul>
                        </div>
                        
                        <div class="left-list">
                          <h5>FRONT-END</h5>
                          <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Vue.js</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingfive">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                        UI/UX
                      </button>
                    </h2>
                  </div>
                  <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="tab-container">
                        <p>If you’re a believer that users relate to products that don’t make them think too much, then we’re a great match for you. We develop software based on your users ‘why’, rather than intuition.</p>
                        <h4>UX/UI DESIGN SERVICES</h4>
                        <ul>
                          <li>User research</li>
                          <li>UX prototyping</li>
                          <li>UX design</li>
                          <li>UI (visual) design</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>



</section>

<section id="career" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading">
          <h2>Career</h2>
        </div>
    </div>
    </div>

    <p>IndoreAi Solutions has started the Journey of building product around Technology.
      We welcome all talented and highly energized engineers to the exciting journey of building the "Future”.
       We are looking for technology enthusiasts to join and strengthen our foundation team and become 
       "Core" members of our start-up. Benefits</p>
<p>
Work on cutting edge technologies such as Video Analytics, Machine learning, IoT, Cloud, Open Source Softwares
Immense learning opportunity not just from technology aspects but also from business aspects
</p>

  <p>Excited ? Come and Join us soon !</p>
  <p>Share your updated resume at  <a href="mailto:careers@indoreai.com">careers@indoreai.com</a></p>
  
  </div>
 </section>


<section id="contact">
 <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>Get in Touch with Us!</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-7 contact-box-left">
          <div class="address-block">
            <div class="address-country"><h4>India</h4></div>
            <div class="address">
              <h5>Indore(Head Office)
              </h5>
              <p class="cname">IndoreAI Solutions</p>
             <p>c\o Pearls Computers,<br>
17 A, Electronic Complex, 9-10, 11,<br> Atmaram Choudhary Marg, Near Readymade Complex,<br> Pardeshipura, Sukhlia, <br> Indore, Madhya Pradesh 452010
            </div>

            <!-- <div class="address">
              <h5>Pune</h5>
              <p class="cname">IndoreAI Solutions</p>
              <p>A-903 Eisha Zenith Society, <br> Survey No. 95/2, 95/3. <br> Tathawade, Pune, Maharashtra 411033</p>
            </div> -->

            <div class="address">
              <h5>Mumbai</h5>
              <p class="cname">IndoreAI Solutions</p>
              <p>504 Niti apartment. <br> Behind new era cinema. Underai road. <br> Malad West Mumbai 400064</p>
             
            </div>

              <div class="direct-contact">
                <ul>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@indoreai.com">info@indoreai.com</a></li>
               
                <ul>
              </div>
          </div>
        </div>
        <div class="col-lg-5 contact-box-right" ng-app="myApp" ng-controller="myCtrl">
          <div class="form-group">
          <span class="icon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
            <input type="text" maxlength="30" class="form-control" placeholder="Name" autocomplete="off" ng-model="name" id="name" required>
          </div>
          <div class="form-group">
            <input type="email" maxlength="30" class="form-control" placeholder="Email" ng-model="email" autocomplete="off" id="email" required>
            <span class="icon"><i class="fa fa fa-envelope-o" aria-hidden="true"></i></span>
          </div>
          <div class="form-group">
            <input type="text" maxlength="14" class="form-control" ng-model="phone" placeholder="Phone Number(optional)" autocomplete="off" id="phone" required>
            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
          </div>
          <div class="form-group">
            <textarea class="form-control textarea" rows="6" ng-model="message" maxlength="300" placeholder="Message(optional)" spellcheck="false" required></textarea>
            <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Submit" ng-click="emailSend(name, email, phone,message)" class="btn">
          </div>
        </div>
      </div>
  <div>
</section>

<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-12"><p>© 2020 indoreai All rights reserved.</p></div>
  </div>
</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>    

jQuery('body').click(function(event) {
    jQuery(".navbar-collapse").collapse('hide');
});

$(window).scroll(function(){
    $('[data-spy="scroll"]').each(function () {
      var $spy = $(this).scrollspy('refresh')
    });
});

</script>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope, $http) {
    $scope.emailSend = (...status) => {
      //alert()
     if(!status[1] || status[1] == ''){
       alert("Please enter email.")
     } else if(!status[0] || status[0] ==''){
       alert('Please enter name.')
     } else{
      $http.post("http://3.87.228.109:3000/contactus",JSON.stringify({
      "toSender": status[1],
      "message": status[3],
      "phone" : status[2],
      "name": status[0]
      }))
    .then(function(response) {
        alert("Email Send Successfully.");
    });  
     }
     
      
    }
    
    
  });
  </script>
</body>
</html>
